# deps
node_modules

# builds / framework output
.output
.vinxi
.nitro
.tanstack
dist
dev-dist

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# misc
.wrangler
.vercel
